.github-profile-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.input-wrapper input {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.input-wrapper button {
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    background-color: #0db0fc;
    color: white;
    cursor: pointer;
}

.user {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: #f9f9f9;
}

.avatar {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.name-container {
    margin-top: 20px;
}

.name-container a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.name-container p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.profile-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.profile-info div {
    text-align: center;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
